In [109]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from googlesearch import search
import os
import numpy as np

In [2]:
pd.set_option('display.max_rows', 100)

In [3]:
def voice_usa_crawl(season):
    url = "https://en.wikipedia.org/wiki/The_Voice_(American_season_{})".format(season)
    html = requests.get(url).content
    soup = BeautifulSoup(html, "lxml")
    
    input_1 = []
    input_2 = []
    pre_extraction = []
    
    for i in range(sum(map(lambda x: "Episode" in x, [row.text for row in soup.find_all('h3')]))+2):
        input_level_1 = soup.find_all('table',{'class':'wikitable'})[i]
        input_level_2 = input_level_1.find_all('tr')
        input_level_3 = [row.text.replace("\n\n", ",").replace("\n", ",").replace("\xa0", "").lstrip(",").split(",")
                         for row in input_level_2]
        pre_extraction.append(input_level_3)
    extraction = [item for episode in pre_extraction for item in episode]
    return(extraction)

In [154]:
url = "https://en.wikipedia.org/wiki/The_Voice_(American_season_1)"
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [150]:
test_1 = soup.find_all('table',{'class':'wikitable'})[1]

In [151]:
test_1

<table class="wikitable" style="text-align:center; width:100%;">
<tbody><tr>
<th rowspan="2" scope="col" width="05%">Order
</th>
<th rowspan="2" scope="col" width="20%">Artist
</th>
<th rowspan="2" scope="col" width="05%">Age
</th>
<th rowspan="2" scope="col" width="18%">Hometown
</th>
<th rowspan="2" scope="col" width="20%">Song
</th>
<th colspan="4" scope="col" width="32%">Coach's and contestant's choices<sup class="reference" id="cite_ref-15"><a href="#cite_note-15">[15]</a></sup>
</th></tr>
<tr>
<th width="08%">Levine
</th>
<th width="08%">Green
</th>
<th width="08%">Aguilera
</th>
<th width="08%">Shelton
</th></tr>
<tr>
<th>1
</th>
<td>Tarralyn Ramsey
</td>
<td>31
</td>
<td><a href="/wiki/Jacksonville,_Florida" title="Jacksonville, Florida">Jacksonville, Florida</a>
</td>
<td>"<a href="/wiki/Breathe_(Faith_Hill_song)" title="Breathe (Faith Hill song)">Breathe</a>"
</td>
<td>—
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td></tr>
<tr>
<th>2
</th>
<td>Patrick Thomas
</td>
<td>20
</td>
<td><a href="/wiki/Nashville,_Tennessee" title="Nashville, Tennessee">Nashville, Tennessee</a>
</td>
<td>"<a href="/wiki/Live_Like_You_Were_Dying" title="Live Like You Were Dying">Live Like You Were Dying</a>"
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td></tr>
<tr>
<th>3
</th>
<td style="background:#DCDCDC;">Jared Blake
</td>
<td style="background:#DCDCDC;">32
</td>
<td style="background:#DCDCDC;"><a href="/wiki/Star_City,_Arkansas" title="Star City, Arkansas">Star City, Arkansas</a>
</td>
<td>"<a href="/wiki/Good_Girls_Go_Bad" title="Good Girls Go Bad">Good Girls Go Bad</a>"
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td></tr>
<tr>
<th>4
</th>
<td><a href="/wiki/Vicci_Martinez" title="Vicci Martinez">Vicci Martinez</a>
</td>
<td>26
</td>
<td><a href="/wiki/Tacoma,_Washington" title="Tacoma, Washington">Tacoma, Washington</a>
</td>
<td>"<a href="/wiki/Rolling_in_the_Deep" title="Rolling in the Deep">Rolling in the Deep</a>"
</td>
<td>—
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td></tr>
<tr>
<th>5
</th>
<td style="background:#DCDCDC;">Sonia Rao
</td>
<td style="background:#DCDCDC;">24
</td>
<td style="background:#DCDCDC;"><span class="nowrap"><a href="/wiki/Freehold_Township,_New_Jersey" title="Freehold Township, New Jersey">Freehold Township, New Jersey</a></span>
</td>
<td>"<a href="/wiki/If_I_Ain%27t_Got_You" title="If I Ain't Got You">If I Ain't Got You</a>"
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td></tr>
<tr>
<th>6
</th>
<td>Elenowen <small>(Josh &amp; Nicole Johnson)</small>
</td>
<td class="table-na" data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;">N/A
</td>
<td><a href="/wiki/Nashville,_Tennessee" title="Nashville, Tennessee">Nashville, Tennessee</a>
</td>
<td>"<a href="/wiki/Falling_Slowly" title="Falling Slowly">Falling Slowly</a>"
</td>
<td>—
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td></tr>
<tr>
<th>7
</th>
<td><a href="/wiki/Frenchie_Davis" title="Frenchie Davis">Frenchie Davis</a>
</td>
<td>31
</td>
<td><a class="mw-redirect" href="/wiki/Los_Angeles,_California" title="Los Angeles, California">Los Angeles, California</a>
</td>
<td>"<a href="/wiki/I_Kissed_a_Girl" title="I Kissed a Girl">I Kissed a Girl</a>"
</td>
<td>—
</td>
<td>—
</td>
<td style="background:#FFC40C;"><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td></tr>
<tr>
<th>8
</th>
<td>Kelsey Rey
</td>
<td>20
</td>
<td><a href="/wiki/Sebastian,_Florida" title="Sebastian, Florida">Sebastian, Florida</a>
</td>
<td>"<a href="/wiki/American_Boy" title="American Boy">American Boy</a>"
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td></tr>
<tr>
<th>9
</th>
<td>Jeff Jenkins
</td>
<td>22
</td>
<td><a href="/wiki/Jones_Creek,_Texas" title="Jones Creek, Texas">Jones Creek, Texas</a>
</td>
<td>"<a href="/wiki/Bless_the_Broken_Road" title="Bless the Broken Road">Bless the Broken Road</a>"
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td></tr>
<tr>
<th>10
</th>
<td><a href="/wiki/Rebecca_Loebe" title="Rebecca Loebe">Rebecca Loebe</a>
</td>
<td>27
</td>
<td><a class="mw-redirect" href="/wiki/Atlanta,_Georgia" title="Atlanta, Georgia">Atlanta, Georgia</a>
</td>
<td>"<a href="/wiki/Come_as_You_Are_(Nirvana_song)" title="Come as You Are (Nirvana song)">Come as You Are</a>"
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td></tr>
<tr>
<th>11
</th>
<td style="background:#DCDCDC;">Joann Rizzo
</td>
<td style="background:#DCDCDC;">56
</td>
<td style="background:#DCDCDC;"><span class="nowrap"><a href="/wiki/Freehold_Township,_New_Jersey" title="Freehold Township, New Jersey">Freehold Township, New Jersey</a></span>
</td>
<td>"<a href="/wiki/I_Say_a_Little_Prayer" title="I Say a Little Prayer">I Say a Little Prayer</a>"
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td></tr>
<tr>
<th>12
</th>
<td><a href="/wiki/Xenia_(singer)" title="Xenia (singer)">Xenia</a>
</td>
<td>16
</td>
<td><a href="/wiki/Temecula,_California" title="Temecula, California">Temecula, California</a>
</td>
<td>"<a href="/wiki/Breakeven_(song)" title="Breakeven (song)">Breakeven</a>"
</td>
<td>—
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td></tr>
<tr>
<th>13
</th>
<td><a href="/wiki/Tje_Austin" title="Tje Austin">Tje Austin</a>
</td>
<td>27
</td>
<td><a href="/wiki/Austin,_Texas" title="Austin, Texas">Austin, Texas</a>
</td>
<td>"<a href="/wiki/Just_the_Way_You_Are_(Bruno_Mars_song)" title="Just the Way You Are (Bruno Mars song)">Just the Way You Are</a>"
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td>
<td>—
</td></tr>
<tr>
<th>14
</th>
<td><a href="/wiki/Javier_Colon" title="Javier Colon">Javier Colon</a>
</td>
<td>33
</td>
<td><a href="/wiki/Stratford,_Connecticut" title="Stratford, Connecticut">Stratford, Connecticut</a>
</td>
<td>"<a href="/wiki/Time_After_Time_(Cyndi_Lauper_song)" title="Time After Time (Cyndi Lauper song)">Time After Time</a>"
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td><b><span style="color:green;">✔</span></b>
</td></tr>
<tr>
<th>15
</th>
<td><a href="/wiki/Beverly_McClellan" title="Beverly McClellan">Beverly McClellan</a>
</td>
<td>41
</td>
<td><a href="/wiki/Fort_Lauderdale,_Florida" title="Fort Lauderdale, Florida">Fort Lauderdale, Florida</a>
</td>
<td>"<a href="/wiki/Piece_of_My_Heart" title="Piece of My Heart">Piece of My Heart</a>"
</td>
<td><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td>
<td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
</td>
<td>—
</td></tr>
</tbody></table>

In [7]:
test_1.find_all('tr')

[<tr>
 <th rowspan="2" scope="col" width="05%">Order
 </th>
 <th rowspan="2" scope="col" width="20%">Artist
 </th>
 <th rowspan="2" scope="col" width="05%">Age
 </th>
 <th rowspan="2" scope="col" width="18%">Hometown
 </th>
 <th rowspan="2" scope="col" width="20%">Song
 </th>
 <th colspan="4" scope="col" width="32%">Coach's and contestant's choices<sup class="reference" id="cite_ref-15"><a href="#cite_note-15">[15]</a></sup>
 </th></tr>, <tr>
 <th width="08%">Levine
 </th>
 <th width="08%">Green
 </th>
 <th width="08%">Aguilera
 </th>
 <th width="08%">Shelton
 </th></tr>, <tr>
 <th>1
 </th>
 <td>Tarralyn Ramsey
 </td>
 <td>31
 </td>
 <td><a href="/wiki/Jacksonville,_Florida" title="Jacksonville, Florida">Jacksonville, Florida</a>
 </td>
 <td>"<a href="/wiki/Breathe_(Faith_Hill_song)" title="Breathe (Faith Hill song)">Breathe</a>"
 </td>
 <td>—
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td></tr>, <tr>
 <th>2
 </th>
 <td>Patrick Thomas
 </td>
 <td>20
 </td>
 <td><a href="/wiki/Nashville,_Tennessee" title="Nashville, Tennessee">Nashville, Tennessee</a>
 </td>
 <td>"<a href="/wiki/Live_Like_You_Were_Dying" title="Live Like You Were Dying">Live Like You Were Dying</a>"
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td></tr>, <tr>
 <th>3
 </th>
 <td style="background:#DCDCDC;">Jared Blake
 </td>
 <td style="background:#DCDCDC;">32
 </td>
 <td style="background:#DCDCDC;"><a href="/wiki/Star_City,_Arkansas" title="Star City, Arkansas">Star City, Arkansas</a>
 </td>
 <td>"<a href="/wiki/Good_Girls_Go_Bad" title="Good Girls Go Bad">Good Girls Go Bad</a>"
 </td>
 <td>—
 </td>
 <td>—
 </td>
 <td>—
 </td>
 <td>—
 </td></tr>, <tr>
 <th>4
 </th>
 <td><a href="/wiki/Vicci_Martinez" title="Vicci Martinez">Vicci Martinez</a>
 </td>
 <td>26
 </td>
 <td><a href="/wiki/Tacoma,_Washington" title="Tacoma, Washington">Tacoma, Washington</a>
 </td>
 <td>"<a href="/wiki/Rolling_in_the_Deep" title="Rolling in the Deep">Rolling in the Deep</a>"
 </td>
 <td>—
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td></tr>, <tr>
 <th>5
 </th>
 <td style="background:#DCDCDC;">Sonia Rao
 </td>
 <td style="background:#DCDCDC;">24
 </td>
 <td style="background:#DCDCDC;"><span class="nowrap"><a href="/wiki/Freehold_Township,_New_Jersey" title="Freehold Township, New Jersey">Freehold Township, New Jersey</a></span>
 </td>
 <td>"<a href="/wiki/If_I_Ain%27t_Got_You" title="If I Ain't Got You">If I Ain't Got You</a>"
 </td>
 <td>—
 </td>
 <td>—
 </td>
 <td>—
 </td>
 <td>—
 </td></tr>, <tr>
 <th>6
 </th>
 <td>Elenowen <small>(Josh &amp; Nicole Johnson)</small>
 </td>
 <td class="table-na" data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;">N/A
 </td>
 <td><a href="/wiki/Nashville,_Tennessee" title="Nashville, Tennessee">Nashville, Tennessee</a>
 </td>
 <td>"<a href="/wiki/Falling_Slowly" title="Falling Slowly">Falling Slowly</a>"
 </td>
 <td>—
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td></tr>, <tr>
 <th>7
 </th>
 <td><a href="/wiki/Frenchie_Davis" title="Frenchie Davis">Frenchie Davis</a>
 </td>
 <td>31
 </td>
 <td><a class="mw-redirect" href="/wiki/Los_Angeles,_California" title="Los Angeles, California">Los Angeles, California</a>
 </td>
 <td>"<a href="/wiki/I_Kissed_a_Girl" title="I Kissed a Girl">I Kissed a Girl</a>"
 </td>
 <td>—
 </td>
 <td>—
 </td>
 <td style="background:#FFC40C;"><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td></tr>, <tr>
 <th>8
 </th>
 <td>Kelsey Rey
 </td>
 <td>20
 </td>
 <td><a href="/wiki/Sebastian,_Florida" title="Sebastian, Florida">Sebastian, Florida</a>
 </td>
 <td>"<a href="/wiki/American_Boy" title="American Boy">American Boy</a>"
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td></tr>, <tr>
 <th>9
 </th>
 <td>Jeff Jenkins
 </td>
 <td>22
 </td>
 <td><a href="/wiki/Jones_Creek,_Texas" title="Jones Creek, Texas">Jones Creek, Texas</a>
 </td>
 <td>"<a href="/wiki/Bless_the_Broken_Road" title="Bless the Broken Road">Bless the Broken Road</a>"
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td></tr>, <tr>
 <th>10
 </th>
 <td><a href="/wiki/Rebecca_Loebe" title="Rebecca Loebe">Rebecca Loebe</a>
 </td>
 <td>27
 </td>
 <td><a class="mw-redirect" href="/wiki/Atlanta,_Georgia" title="Atlanta, Georgia">Atlanta, Georgia</a>
 </td>
 <td>"<a href="/wiki/Come_as_You_Are_(Nirvana_song)" title="Come as You Are (Nirvana song)">Come as You Are</a>"
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td></tr>, <tr>
 <th>11
 </th>
 <td style="background:#DCDCDC;">Joann Rizzo
 </td>
 <td style="background:#DCDCDC;">56
 </td>
 <td style="background:#DCDCDC;"><span class="nowrap"><a href="/wiki/Freehold_Township,_New_Jersey" title="Freehold Township, New Jersey">Freehold Township, New Jersey</a></span>
 </td>
 <td>"<a href="/wiki/I_Say_a_Little_Prayer" title="I Say a Little Prayer">I Say a Little Prayer</a>"
 </td>
 <td>—
 </td>
 <td>—
 </td>
 <td>—
 </td>
 <td>—
 </td></tr>, <tr>
 <th>12
 </th>
 <td><a href="/wiki/Xenia_(singer)" title="Xenia (singer)">Xenia</a>
 </td>
 <td>16
 </td>
 <td><a href="/wiki/Temecula,_California" title="Temecula, California">Temecula, California</a>
 </td>
 <td>"<a href="/wiki/Breakeven_(song)" title="Breakeven (song)">Breakeven</a>"
 </td>
 <td>—
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td></tr>, <tr>
 <th>13
 </th>
 <td><a href="/wiki/Tje_Austin" title="Tje Austin">Tje Austin</a>
 </td>
 <td>27
 </td>
 <td><a href="/wiki/Austin,_Texas" title="Austin, Texas">Austin, Texas</a>
 </td>
 <td>"<a href="/wiki/Just_the_Way_You_Are_(Bruno_Mars_song)" title="Just the Way You Are (Bruno Mars song)">Just the Way You Are</a>"
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td>
 <td>—
 </td></tr>, <tr>
 <th>14
 </th>
 <td><a href="/wiki/Javier_Colon" title="Javier Colon">Javier Colon</a>
 </td>
 <td>33
 </td>
 <td><a href="/wiki/Stratford,_Connecticut" title="Stratford, Connecticut">Stratford, Connecticut</a>
 </td>
 <td>"<a href="/wiki/Time_After_Time_(Cyndi_Lauper_song)" title="Time After Time (Cyndi Lauper song)">Time After Time</a>"
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td></tr>, <tr>
 <th>15
 </th>
 <td><a href="/wiki/Beverly_McClellan" title="Beverly McClellan">Beverly McClellan</a>
 </td>
 <td>41
 </td>
 <td><a href="/wiki/Fort_Lauderdale,_Florida" title="Fort Lauderdale, Florida">Fort Lauderdale, Florida</a>
 </td>
 <td>"<a href="/wiki/Piece_of_My_Heart" title="Piece of My Heart">Piece of My Heart</a>"
 </td>
 <td><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td>
 <td style="background:#fdfc8f;"><b><span style="color:green;">✔</span></b>
 </td>
 <td>—
 </td></tr>]

In [8]:
d = {}
for season in range(1,18):
    d[season] = pd.DataFrame(voice_usa_crawl(season))

In [9]:
desired_order = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,16]

In [10]:
d_d = {k: d[k] for k in desired_order}

In [11]:
all_seasons = pd.DataFrame()
for key, value in d_d.items():
     df = value
     df.loc[:,'Season'] = key
     all_seasons = pd.concat([df, all_seasons], axis = 0, sort=True)
all_seasons = all_seasons.iloc[:,:-2]

In [12]:
all_seasons.head(25)

,0,1,2,3,4,5,6,7,8,9,10,11,12,Season
0,Coaches,Top 54 artists,,None,None,None,None,None,None,None,None,None,None,16
1,Adam Levine,,,None,None,None,None,None,None,None,None,None,None,16
2,LB Crew,Mari,Betsy Ade,Domenic Haynes,Kalvin Jarvis,,None,None,None,None,None,None,None,16
3,LB Crew,Kendra Checketts,Celia Babini,Rod Stokes,Andrew Jannakos,,None,None,None,None,None,None,None,16
4,Ciera Dumas,Jimmy Mowery,Karly Moreno,Patrick McAloon,Anthony Ortiz,,None,None,None,None,None,None,None,16
5,Trey Rose,,,None,None,None,None,None,None,None,None,None,None,16
6,John Legend,,,None,None,None,None,None,None,None,None,None,None,16
7,Maelyn Jarmon,Shawn Sounds,Celia Babini,Jacob Maxwell,Jimmy Mowery,,None,None,None,None,None,None,None,16
8,Lisa Ramey,Julian King,Beth Griffith-Manley,Kayslin Victoria,Savannah Brister,,None,None,None,None,None,None,None,16
9,Oliv Blu,Betsy Ade,Matthew Johnson,Talon Cardon,Denton Arnell,,None,None,None,None,None,None,None,16
10,Kelly Clarkson,,,None,None,None,None,None,None,None,None,None,None,16
11,Rod Stokes,Jej Vinson,Rebecca Howell,Matthew Johnson,Abby Kasch,,None,None,None,None,None,None,None,16
12,Presley Tennant,Betsy Ade,The Bundys,Karen Galera,David Owens,,None,None,None,None,None,None,None,16
13,Beth Griffith-Manley,Alena D'Amico,Jackson Marlow,Rizzi Myers,Mikaela Astel,,None,None,None,None,None,None,None,16
14,Blake Shelton,,,None,None,None,None,None,None,None,None,None,None,16
15,Gyth Rigdon,Dexter Roberts,Andrew Sevener,Kim Cherry,Carter Lloyd Horne,,None,None,None,None,None,None,None,16
16,Oliv Blu,Kendra Checketts,Selkii,Karly Moreno,Kendra Checketts,,None,None,None,None,None,None,None,16
17,Rod Stokes,LiLi Joy,Cecily Hennigan,Hannah Kay,Dalton Dover,,None,None,None,None,None,None,None,16
18,Bebe Rexha,,,None,None,None,None,None,None,None,None,None,None,16
19,LB Crew,Kanard Thomas,Ciera Dumas,Savannah Brister,David Owens,,None,None,None,None,None,None,None,16
20,Kayla Seeber,Nathan & Chesi,Crystal Rose,J.T. Rodriguez,Klea Olson,,None,None,None,None,None,None,None,16
21,.mw-parser-output .nobold{font-weight:normal}N...,,None,None,None,None,None,None,None,None,None,None,None,16
22,Order,Artist,Age,Hometown,Song,Coach's and artist's choices,,None,None,None,None,None,None,16
23,Adam,John,Kelly,Blake,,None,None,None,None,None,None,None,None,16
24,1,Gyth Rigdon,24,Singer,Louisiana,"""Drift Away""",—,✘,✔,✔,,None,None,16

In [13]:
all_seasons.Season.nunique()

17

In [14]:
colnames = ["Wiki_id", "Singer", "Age", "City", 'State', 'Song', 'Coach_1', 'Coach_2', 'Coach_3', 'Coach_4',
            'extra_1', 'extra_2', 'extra_3', 'Season']

In [15]:
all_seasons.columns = colnames

In [16]:
all_seasons.head(2)

,Wiki_id,Singer,Age,City,State,Song,Coach_1,Coach_2,Coach_3,Coach_4,extra_1,extra_2,extra_3,Season
0,Coaches,Top 54 artists,,None,None,None,None,None,None,None,None,None,None,16
1,Adam Levine,,,None,None,None,None,None,None,None,None,None,None,16

In [17]:
quasi_table_1 = all_seasons.loc[all_seasons.Wiki_id.str.isdigit()]

In [18]:
len(quasi_table_1)

1167

In [19]:
quasi_table_2 = quasi_table_1.loc[((quasi_table_1.Coach_1 == '✔') | (quasi_table_1.Coach_1 == '—')
            | (quasi_table_1.Coach_1 == '✘') | (quasi_table_1.Coach_1 == 'Team full') 
            | (quasi_table_1.Coach_1 == '–') | (quasi_table_1.Coach_1.str.contains('"', na=False)) 
            | (quasi_table_1.Coach_2.str.contains('"', na=False))) & (quasi_table_1.Wiki_id.str.isdigit())]

In [20]:
len(quasi_table_2)

1136

In [21]:
quasi_table_3 = quasi_table_2.loc[~quasi_table_2.Age.str.contains('"', na=False)]

In [22]:
len(quasi_table_3)

1127

In [23]:
quasi_table_3.head()

,Wiki_id,Singer,Age,City,State,Song,Coach_1,Coach_2,Coach_3,Coach_4,extra_1,extra_2,extra_3,Season
24,1,Gyth Rigdon,24,Singer,Louisiana,"""Drift Away""",—,✘,✔,✔,,None,None,16
25,2,Maelyn Jarmon,26,Frisco,Texas,"""Fields of Gold""",✔,✔,✔,✔,,None,None,16
26,3,Karen Galera,19,Dallas,Texas,"""Mi Corazoncito""",—,✔,✔,—,,None,None,16
27,4,Trey Rose,27,Hugo,Oklahoma,"""Wake Me Up""",✔,—,—,✔,,None,None,16
28,5,Kim Cherry,30,Niceville,Florida,"""No Scrubs""",—,—,✔,✔,,None,None,16

In [24]:
quasi_table_3 = quasi_table_3.reset_index(drop=True)

In [25]:
quasi_table_3.head()

,Wiki_id,Singer,Age,City,State,Song,Coach_1,Coach_2,Coach_3,Coach_4,extra_1,extra_2,extra_3,Season
0,1,Gyth Rigdon,24,Singer,Louisiana,"""Drift Away""",—,✘,✔,✔,,None,None,16
1,2,Maelyn Jarmon,26,Frisco,Texas,"""Fields of Gold""",✔,✔,✔,✔,,None,None,16
2,3,Karen Galera,19,Dallas,Texas,"""Mi Corazoncito""",—,✔,✔,—,,None,None,16
3,4,Trey Rose,27,Hugo,Oklahoma,"""Wake Me Up""",✔,—,—,✔,,None,None,16
4,5,Kim Cherry,30,Niceville,Florida,"""No Scrubs""",—,—,✔,✔,,None,None,16

In [26]:
st1 = quasi_table_3.loc[~quasi_table_3.Coach_1.str.contains('"')]
st1 = st1.loc[~st1.Coach_2.str.contains('"')]
st1 = st1.loc[~st1.Song.str.contains('—')]

In [27]:
st2 = quasi_table_3.loc[(quasi_table_3.Coach_1.str.contains('"'))|(quasi_table_3.Coach_2.str.contains('"'))]

In [28]:
st3 = quasi_table_3.loc[(quasi_table_3.Song == '—')]

In [29]:
len(st1)

1066

In [30]:
len(st2)

52

In [31]:
len(st3)

9

In [32]:
st3

,Wiki_id,Singer,Age,City,State,Song,Coach_1,Coach_2,Coach_3,Coach_4,extra_1,extra_2,extra_3,Season
815,6,Yasmin,N/A,N/A,"""Love Song""",—,—,—,—,,None,None,None,5
940,4,Jasmin Rose,N/A,N/A,"""Mercy""",—,—,—,—,,None,None,None,3
991,17,LaRae Rhodes,N/A,N/A,"""Black Horse and the Cherry Tree""",—,—,—,—,,None,None,None,3
1009,10,Gedina,N/A,N/A,"""Ain't Nobody""",—,—,,None,None,None,None,None,3
1027,5,Aly Jados,N/A,N/A,"""Because the Night""",—,—,—,—,,None,NaN,NaN,2
1051,14,Moses Stone,26,Maryland,"""Let's Get It Started""",—,—,✔,—,,None,NaN,NaN,2
1064,12,Luna Searles,N/A,N/A,"""Come to My Window""",—,—,—,—,,None,NaN,NaN,2
1085,12,Beta,N/A,N/A,"""You Make Me Feel...""",—,Team full,,None,None,None,NaN,NaN,2
1116,13,Serabee,34,Mississippi,"""Son of a Preacher Man""",—,—,—,✔,,None,None,NaN,1

In [33]:
st3 = st3.copy()

In [34]:
st3 = st3.loc[:,['Singer','Age','City','State','Season']]

In [35]:
st3.head()

            Singer  Age City                              State  Season
815         Yasmin  N/A  N/A                        "Love Song"       5
940    Jasmin Rose  N/A  N/A                            "Mercy"       3
991   LaRae Rhodes  N/A  N/A  "Black Horse and the Cherry Tree"       3
1009        Gedina  N/A  N/A                     "Ain't Nobody"       3
1027     Aly Jados  N/A  N/A                "Because the Night"       2

In [36]:
the_columns = ['Singer', 'Age', 'State', 'Song', 'Season']

In [37]:
st3.columns = the_columns

In [38]:
st3.head()

            Singer  Age State                               Song  Season
815         Yasmin  N/A   N/A                        "Love Song"       5
940    Jasmin Rose  N/A   N/A                            "Mercy"       3
991   LaRae Rhodes  N/A   N/A  "Black Horse and the Cherry Tree"       3
1009        Gedina  N/A   N/A                     "Ain't Nobody"       3
1027     Aly Jados  N/A   N/A                "Because the Night"       2

In [39]:
the_columns_ordered = ['Season', 'Singer', 'Age', 'Song', 'State']

In [40]:
st3 = st3[the_columns_ordered]

In [41]:
st3

,Season,Singer,Age,Song,State
815,5,Yasmin,N/A,"""Love Song""",N/A
940,3,Jasmin Rose,N/A,"""Mercy""",N/A
991,3,LaRae Rhodes,N/A,"""Black Horse and the Cherry Tree""",N/A
1009,3,Gedina,N/A,"""Ain't Nobody""",N/A
1027,2,Aly Jados,N/A,"""Because the Night""",N/A
1051,2,Moses Stone,26,"""Let's Get It Started""",Maryland
1064,2,Luna Searles,N/A,"""Come to My Window""",N/A
1085,2,Beta,N/A,"""You Make Me Feel...""",N/A
1116,1,Serabee,34,"""Son of a Preacher Man""",Mississippi

In [42]:
st2

,Wiki_id,Singer,Age,City,State,Song,Coach_1,Coach_2,Coach_3,Coach_4,extra_1,extra_2,extra_3,Season
14,3,The Bundys(Megan,Katey,and Ryan),25-31,Cincinnati,Ohio,"""Closer to Fine""",—,—,✔,✔,,16
38,4,Denton Arnell,32,Chicago,Illinois,"""Hold On","We're Going Home""",—,✔,—,—,,None,16
71,11,Marina Chello,37,Samarkand,Uzbekistan / Plainview,New York,"""Walk Me Home""",✔,—,—,✔,,None,17
159,3,Hannah Blaylock,31,Nimmons,Arkansas,"""Baby","Now That I've Found You""",—,—,—,—,,None,15
175,7,Funsho,29,Lagos,Nigeria / Los Angeles,California,"""Finesse""",✔,✔,✔,—,,None,15
204,4,Mitch Cardoza,22,Dartmouth,Massachusetts,"""No Woman","No Cry""",—,—,—,—,,None,14
209,9,Jorge Eduardo,19,Guadalajara,Mexico / Dallas,Texas,"""Despacito""",—,—,✔,—,,None,14
211,11,Angel Bonilla,31,Quezon City,Philippines / New York City,New York,"""Lay Me Down""",✔,—,—,—,,None,14
246,4,Xaris,17,Gulf Breeze,Florida,"""Don't Think Twice","It's All Right""",—,—,—,—,,None,13
266,7,Kathrina Feigh,24,Quezon City,Philippines / New York City,New York,"""Big White Room""",—,—,✔,✔,,None,13
276,3,Jessica Rowboat,28,New Delhi,India / Queens,New York,"""Imagine""",—,—,—,—,,None,13
287,8,Whitney Fenimore,28,Tulsa,Oklahoma,"""Hold On","We're Going Home""",✔,✔,—,—,,None,13
289,10,Katrina Rose,34,Astoria,Queens,New York,"""Kozmic Blues""",—,✔,—,—,,None,13
294,1,Kristi Hoopes,19,Parker,Colorado,"""Heaven","Heartache and the Power of Love""",✔,—,✔,✔,,None,13
452,4,Brittany Kennell,29,Montreal,Quebec,Canada / Nashville,Tennessee,"""Strong Enough""",—,✔,—,✔,,10
463,2,Jessica Crosbie,21,Atlanta,Georgia / Cornwall,England,"""Viva la Vida""",✔,✔,✔,—,,None,10
467,6,Owen Danoff,25,Washington,D.C. / New York,New York,"""Don't Think Twice","It's All Right""",✔,✔,✔,✔,,10
468,7,Maya Smith,31,Los Angeles,California,"""Do Right Woman","Do Right Man""",—,✔,✔,—,,None,10
474,13,Matt Tedder,20,Fort Worth,Texas / Nashville,Tennessee,"""I'm Your Hoochie Coochie Man""",✔,—,—,—,,None,10
483,8,Collin Taylor,24,Orange,Connecticut,"""Hold On","We're Going Home""",Team full,—,,None,None,None,10
489,3,Keith Semple,34,Larne,Northern Ireland,UK,"""I'll Be There for You""",✔,✔,—,—,,None,9
566,2,Gabriel Wolfchild,26,Seattle,Washington,"""Don't Think Twice","It's All Right""",✔,—,✔,✔,,None,8
616,7,Jennifer Chung,24,Millbrae,California/Atlanta,Georgia,"""Don't Speak""",—,,None,None,None,None,8
647,7,Samantha Sampson,17,Watertown,New York,"""Heads Carolina","Tails California""",—,—,—,—,,None,7
657,17,Anita Antoinette,24,Boston,Massachusetts / Kingston,Jamaica,"""Turn Your Lights Down Low""",✔,✔,✔,✔,,None,7
661,4,Roem Baur,37,San Francisco,California,"""Oh","Pretty Woman""",—,—,—,—,,None,7
839,13,Ty Wyffels,N/A,Metamora,Illinois,"""Tonight","Tonight""",—,,None,None,None,None,5
848,8,Nicole Serrano,N/A,New York City,New York / Minneapolis,Minnesota,"""E.T""",—,—,—,—,,None,4
850,10,Hunter Elizabeth,N/A,Boulder,Montana/Los Angeles,California,"""Mercy""",—,—,—,—,,None,4
851,11,Leah Lewis,15,Shanghai,China /Orlando,Florida,"""Blown Away""",—,—,—,—,,None,4
855,1,Tawnya Reynolds,32,Ruidoso,New Mexico/Nashville,Tennessee,"""Mammas Don't Let Your Babies Grow Up to Be Co...",✔,✔,✔,—,,None,4
860,6,Sarah Simmons,22,Birmingham,Alabama/Memphis,Tennessee,"""One of Us""",✔,✔,✔,✔,,None,4
875,15,Julie Roberts,33,Nashville,Tennessee / Lancaster,South Carolina,"""God Gave Me You""",—,—,—,—,,None,4
901,12,Mary Miranda,17,Havana,Cuba /Albuquerque,New Mexico,"""Como La Flor""",—,✔,✔,✔,,None,4
915,2,De'Borah,25,Chicago Heights,Illinois,"""Hey","Soul Sister""",—,✔,✔,—,,None,3
921,8,Anita Antoinette,22,Boston,Massachusetts / Kingston,Jamaica,"""No Woman","No Cry""",—,—,—,—,,3
934,7,Matt Carr,N/A,Hanover,New Hampshire/Boston,Massachusetts,"""(Sittin' On) The Dock of the Bay""",—,—,—,—,,None,3
938,2,Chris Trousdale,26,Big Rapids,Michigan / New Port Richey,Florida,"""Glad You Came""",—,—,—,—,,None,3
942,6,Nelly's Echo,32,Lagos,Nigeria/Baltimore,Maryland,"""Ain't No Sunshine""",✔,—,✔,—,,None,3
946,10,Loren Allred,22,Salt Lake City,Utah/Pittsburgh,Pennsylvania,"""When Love Takes Over""",✔,✔,—,—,,None,3
949,1,Melanie Martinez,17,Astoria,New York City,New York,"""Toxic""",✔,✔,—,✔,,None,3
952,4,VanJess,19 & 20,Lagos,Nigeria /Rancho Cucamonga,California,"""Work Out""",—,—,—,—,,None,3
953,5,Maddie and Julia,N/A,Scotch Plains,New Jersey/New Paltz,New York,"""Disturbia""",—,—,—,—,,None,3
976,2,Diego Val,25,Lima,Peru /Miami,Florida,"""Animal""",—,✔,—,—,,None,3
994,1,Sylvia Yacoub,19,Alexandria,Egypt /Muskegon,Michigan,"""Only Girl (In the World)""",—,✔,✔,✔,,None,3
1001,2,Rod Michael,26,Allentown,Pennsylvania/Atlanta,Georgia,"""Please Don't Go""",—,—,—,—,,None,3
1003,4,Nicole Johnson,18,Denham Springs,Louisiana/Nashville,Tennessee,"""Mr. Know It All""",—,✔,—,✔,,None,3
1004,5,Kameron Corvet,32,Cincinnati,Ohio/Atlanta,Georgia,"""Crazy""",—,—,—,—,,None,3
1008,9,Jay Taylor,N/A,Duette,Florida/Nashville,Tennessee,"""Country Girl (Shake It for Me)""",—,Team full,—,,None,None,3
1010,11,Taylor Wagner,N/A,Mattoon,Illinois/Nashville,Tennessee,"""Mean""",—,—,,None,None,None,3
1086,13,Aaron Gordon,N/A,Kelowna,British Columbia,Canada,"""So Sick""",—,,None,None,NaN,NaN,2
1114,11,Tyler Robinson,20,Folsom,California,"""Hey","Soul Sister""",—,—,—,✔,,NaN,1

In [43]:
usa = pd.read_excel("usa_states.ods", engine="odf")

In [44]:
usa.head()

      State Code
0      D.C.   DC
1   Alabama   AL
2    Alaska   AK
3   Arizona   AZ
4  Arkansas   AR

In [45]:
states_list = usa.State.to_list()

In [46]:
st2_2 = st2.iloc[1:,:]

In [47]:
st2_2.head()

,Wiki_id,Singer,Age,City,State,Song,Coach_1,Coach_2,Coach_3,Coach_4,extra_1,extra_2,extra_3,Season
38,4,Denton Arnell,32,Chicago,Illinois,"""Hold On","We're Going Home""",—,✔,—,—,,None,16
71,11,Marina Chello,37,Samarkand,Uzbekistan / Plainview,New York,"""Walk Me Home""",✔,—,—,✔,,None,17
159,3,Hannah Blaylock,31,Nimmons,Arkansas,"""Baby","Now That I've Found You""",—,—,—,—,,None,15
175,7,Funsho,29,Lagos,Nigeria / Los Angeles,California,"""Finesse""",✔,✔,✔,—,,None,15
204,4,Mitch Cardoza,22,Dartmouth,Massachusetts,"""No Woman","No Cry""",—,—,—,—,,None,14

In [48]:
st2_2["Song_ok"] = np.where((st2_2["Song"].str.contains('"')) & (st2_2["Coach_1"].str.contains('"')),
                               st2_2['Song'].str.cat(st2_2['Coach_1'],sep=", "), 
                               np.where((st2_2["Coach_1"].str.contains('"')) & (st2_2["Coach_2"].str.contains('"')),
                                        st2_2['Coach_1'].str.cat(st2_2['Coach_2'],sep=", "),
                                        np.where(st2_2["Coach_1"].str.contains('"'), st2_2["Coach_1"],
                                                 st2_2["Coach_2"])))

/home/salva/.local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
st2_2["State_ok"] = np.where(st2_2["Song"].str.contains('/'), st2_2["Coach_1"], 
                               np.where(st2_2["State"].str.contains('/'), 
                                        np.where(st2_2["Song"].str.strip().isin(states_list), st2_2["Song"], 
                                        st2_2['State'].str.split('/').str[0]), 
                                            np.where(st2_2["State"].str.strip().isin(states_list), st2_2["State"], 
                                            st2_2["Song"])))

/home/salva/.local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
st2_2 = st2_2.iloc[:, np.r_[1:3, -3:0]]

In [51]:
st2_2.head(2)

           Singer Age  Season                       Song_ok   State_ok
38  Denton Arnell  32      16  "Hold On,  We're Going Home"   Illinois
71  Marina Chello  37      17                "Walk Me Home"   New York

In [52]:
st2_2_colnames = ["Singer", "Age", "Season", "Song", "State"]

In [53]:
st2_2.columns = st2_2_colnames

In [54]:
st2_2 = st2_2[the_columns_ordered]

In [55]:
st2_2.head()

,Season,Singer,Age,Song,State
38,16,Denton Arnell,32,"""Hold On, We're Going Home""",Illinois
71,17,Marina Chello,37,"""Walk Me Home""",New York
159,15,Hannah Blaylock,31,"""Baby, Now That I've Found You""",Arkansas
175,15,Funsho,29,"""Finesse""",California
204,14,Mitch Cardoza,22,"""No Woman, No Cry""",Massachusetts

In [56]:
st2_1 = st2.copy()

In [57]:
st2_1["Singer"] = np.where(st2_1["Singer"].str.contains("\("),
                    st2_1["Singer"].str.split("(").str[0], st2_1["Singer"])

In [58]:
st2_1 = st2_1.iloc[:, np.r_[1, 4, 6:8, -1]]

In [59]:
st2_1.iloc[0,1] = 28

In [60]:
st2_1.columns = ["Singer", "Age", "State", "Song", "Season"]

In [61]:
st2_1 = st2_1[the_columns_ordered]

In [62]:
st2_1 = st2_1.iloc[0:1,:]

In [63]:
st2_1

    Season      Singer Age              Song  State
14      16  The Bundys  28  "Closer to Fine"   Ohio

In [64]:
st2_3 = pd.concat([st2_2, st2_1], axis=0, sort=False)

In [65]:
st23 = pd.concat([st3, st2_3], axis=0, sort=False)

In [66]:
st23

,Season,Singer,Age,Song,State
815,5,Yasmin,N/A,"""Love Song""",N/A
940,3,Jasmin Rose,N/A,"""Mercy""",N/A
991,3,LaRae Rhodes,N/A,"""Black Horse and the Cherry Tree""",N/A
1009,3,Gedina,N/A,"""Ain't Nobody""",N/A
1027,2,Aly Jados,N/A,"""Because the Night""",N/A
1051,2,Moses Stone,26,"""Let's Get It Started""",Maryland
1064,2,Luna Searles,N/A,"""Come to My Window""",N/A
1085,2,Beta,N/A,"""You Make Me Feel...""",N/A
1116,1,Serabee,34,"""Son of a Preacher Man""",Mississippi
38,16,Denton Arnell,32,"""Hold On, We're Going Home""",Illinois
71,17,Marina Chello,37,"""Walk Me Home""",New York
159,15,Hannah Blaylock,31,"""Baby, Now That I've Found You""",Arkansas
175,15,Funsho,29,"""Finesse""",California
204,14,Mitch Cardoza,22,"""No Woman, No Cry""",Massachusetts
209,14,Jorge Eduardo,19,"""Despacito""",Texas
211,14,Angel Bonilla,31,"""Lay Me Down""",New York
246,13,Xaris,17,"""Don't Think Twice, It's All Right""",Florida
266,13,Kathrina Feigh,24,"""Big White Room""",New York
276,13,Jessica Rowboat,28,"""Imagine""",New York
287,13,Whitney Fenimore,28,"""Hold On, We're Going Home""",Oklahoma
289,13,Katrina Rose,34,"""Kozmic Blues""",New York
294,13,Kristi Hoopes,19,"""Heaven, Heartache and the Power of Love""",Colorado
452,10,Brittany Kennell,29,"""Strong Enough""",Tennessee
463,10,Jessica Crosbie,21,"""Viva la Vida""",Georgia
467,10,Owen Danoff,25,"""Don't Think Twice, It's All Right""",New York
468,10,Maya Smith,31,"""Do Right Woman, Do Right Man""",California
474,10,Matt Tedder,20,"""I'm Your Hoochie Coochie Man""",Tennessee
483,10,Collin Taylor,24,"""Hold On, We're Going Home""",Connecticut
489,9,Keith Semple,34,"""I'll Be There for You""",UK
566,8,Gabriel Wolfchild,26,"""Don't Think Twice, It's All Right""",Washington
616,8,Jennifer Chung,24,"""Don't Speak""",Georgia
647,7,Samantha Sampson,17,"""Heads Carolina, Tails California""",New York
657,7,Anita Antoinette,24,"""Turn Your Lights Down Low""",Massachusetts
661,7,Roem Baur,37,"""Oh, Pretty Woman""",California
839,5,Ty Wyffels,N/A,"""Tonight, Tonight""",Illinois
848,4,Nicole Serrano,N/A,"""E.T""",Minnesota
850,4,Hunter Elizabeth,N/A,"""Mercy""",California
851,4,Leah Lewis,15,"""Blown Away""",Florida
855,4,Tawnya Reynolds,32,"""Mammas Don't Let Your Babies Grow Up to Be Co...",Tennessee
860,4,Sarah Simmons,22,"""One of Us""",Tennessee
875,4,Julie Roberts,33,"""God Gave Me You""",South Carolina
901,4,Mary Miranda,17,"""Como La Flor""",New Mexico
915,3,De'Borah,25,"""Hey, Soul Sister""",Illinois
921,3,Anita Antoinette,22,"""No Woman, No Cry""",Massachusetts
934,3,Matt Carr,N/A,"""(Sittin' On) The Dock of the Bay""",Massachusetts
938,3,Chris Trousdale,26,"""Glad You Came""",Florida
942,3,Nelly's Echo,32,"""Ain't No Sunshine""",Maryland
946,3,Loren Allred,22,"""When Love Takes Over""",Pennsylvania
949,3,Melanie Martinez,17,"""Toxic""",New York
952,3,VanJess,19 & 20,"""Work Out""",California
953,3,Maddie and Julia,N/A,"""Disturbia""",New York
976,3,Diego Val,25,"""Animal""",Florida
994,3,Sylvia Yacoub,19,"""Only Girl (In the World)""",Michigan
1001,3,Rod Michael,26,"""Please Don't Go""",Georgia
1003,3,Nicole Johnson,18,"""Mr. Know It All""",Tennessee
1004,3,Kameron Corvet,32,"""Crazy""",Georgia
1008,3,Jay Taylor,N/A,"""Country Girl (Shake It for Me)""",Tennessee
1010,3,Taylor Wagner,N/A,"""Mean""",Tennessee
1086,2,Aaron Gordon,N/A,"""So Sick""",Canada
1114,1,Tyler Robinson,20,"""Hey, Soul Sister""",California
14,16,The Bundys,28,"""Closer to Fine""",Ohio

In [67]:
st1.head()

,Wiki_id,Singer,Age,City,State,Song,Coach_1,Coach_2,Coach_3,Coach_4,extra_1,extra_2,extra_3,Season
0,1,Gyth Rigdon,24,Singer,Louisiana,"""Drift Away""",—,✘,✔,✔,,None,None,16
1,2,Maelyn Jarmon,26,Frisco,Texas,"""Fields of Gold""",✔,✔,✔,✔,,None,None,16
2,3,Karen Galera,19,Dallas,Texas,"""Mi Corazoncito""",—,✔,✔,—,,None,None,16
3,4,Trey Rose,27,Hugo,Oklahoma,"""Wake Me Up""",✔,—,—,✔,,None,None,16
4,5,Kim Cherry,30,Niceville,Florida,"""No Scrubs""",—,—,✔,✔,,None,None,16

In [68]:
st1 = st1.iloc[:,np.r_[1:3,4:6,13]]

In [69]:
st1 = st1[the_columns_ordered]

In [70]:
st123 = pd.concat([st23, st1], axis=0, sort=False)

In [71]:
st123.sort_index(inplace=True)

In [72]:
st123.Age.value_counts()

25         67
23         65
17         65
20         64
26         64
16         64
24         63
N/A        60
21         55
19         53
22         49
28         46
18         46
29         43
27         40
15         35
31         34
30         33
33         27
35         22
34         20
32         18
37          9
38          8
14          7
36          6
40          6
39          4
13          4
52          4
42          4
45          4
41          3
44          3
56          2
46          2
51          2
54          2
13[a]       1
43          1
32 & 26     1
24 & 27     1
25/23       1
64          1
66          1
19 / 18     1
55          1
28          1
35 & 28     1
27-28       1
62          1
44 / 36     1
61          1
50          1
35–36       1
48          1
23 & 44     1
17 & 19     1
49          1
30 / 32     1
19 & 20     1
13-14       1
Name: Age, dtype: int64

In [73]:
st123["Age"] = st123.Age.apply(str)

In [74]:
st123["Age"] = st123["Age"].apply(lambda x: x.replace("N/A", "na"))

In [75]:
st123["Age"] = st123["Age"].apply(lambda x: x.replace("&", "-").replace("/", "-").replace("–", "-")
                                                 .replace("[", "-"))

In [76]:
st123["Age"] = np.where(st123["Age"].str.contains('-'),
                        st123['Age'].str.split('-').str[0], st123['Age'])

In [77]:
st123["Age"] = st123["Age"].apply(lambda x: x.replace("na", "N/A"))

In [78]:
st123.Age.value_counts()

25     68
23     65
17     65
26     64
16     64
20     64
24     63
N/A    60
21     55
19     53
22     49
28     47
18     46
29     43
27     41
15     35
31     34
30     33
33     27
35     23
34     20
32     18
37      9
38      8
14      7
13      6
36      6
40      6
45      4
39      4
42      4
52      4
41      3
44      3
19      2
56      2
51      2
46      2
54      2
23      1
66      1
64      1
43      1
50      1
17      1
35      1
24      1
62      1
32      1
48      1
61      1
30      1
55      1
44      1
49      1
Name: Age, dtype: int64

In [79]:
st123.State.value_counts()

 California              165
 Texas                   109
 New York                 88
 Florida                  81
 Tennessee                70
 Georgia                  57
 Illinois                 44
 New Jersey               39
 Pennsylvania             31
 Louisiana                27
 Massachusetts            26
 North Carolina           25
 Alabama                  22
 Washington               21
 Virginia                 19
 Kentucky                 18
 Michigan                 18
 Ohio                     18
 Missouri                 18
 Oklahoma                 17
 Utah                     15
 Arkansas                 14
 South Carolina           13
 Minnesota                12
 Indiana                  12
 Connecticut              11
 Maryland                 11
 Colorado                  8
 Nevada                    7
 Arizona                   7
 Iowa                      7
N/A                        7
 Rhode Island              7
 D.C.                      6
 Mississippi               6
 Hawaii                    5
 New Hampshire             5
 Oregon                    5
 Wisconsin                 5
 West Virginia             4
 Kansas                    4
 Idaho                     4
 North Dakota              4
 New Mexico                3
 Nebraska                  3
 Alaska                    3
 Delaware                  3
 Scotland                  2
 Massachusetts             2
 Brazil                    2
 Maine                     1
 Haiti                     1
 IL                        1
 Montana                   1
Mississippi                1
Maryland                   1
 Illiinois/Indiana         1
 Vermont                   1
 Samoa                     1
 South Africa              1
 Canada                    1
 UK                        1
 Jamaica                   1
 U.S. Virgin Islands       1
 Georgia                   1
 Philippines               1
 Georgia /El Salvador      1
Name: State, dtype: int64

In [80]:
st123.Season = st123.Season.apply(str)

In [81]:
st123 = st123.applymap(lambda x: x.strip())

In [82]:
st123.at[st123.loc[st123.State == 'IL',:].index[0], "State"] = 'Illinois'

In [83]:
st123.at[st123.loc[st123.State == 'Illiinois/Indiana',:].index[0], "State"] = 'Illinois'

In [84]:
st123.at[st123.loc[st123.State == 'Georgia /El Salvador',:].index[0], "State"] = 'Georgia'

In [85]:
st123.State.value_counts().tail(15)

New Mexico             3
Delaware               3
Scotland               2
Brazil                 2
Vermont                1
Philippines            1
Montana                1
Canada                 1
South Africa           1
UK                     1
U.S. Virgin Islands    1
Jamaica                1
Haiti                  1
Maine                  1
Samoa                  1
Name: State, dtype: int64

In [86]:
st123.Season = st123.Season.apply(int)

In [87]:
st123["Country"] = np.where(st123["State"] == 'N/A', 'N/A',
                            np.where(st123["State"].str.strip().isin(states_list), "USA", "RoW"))

In [88]:
st123.head(30)

,Season,Singer,Age,Song,State,Country
0,16,Gyth Rigdon,24,"""Drift Away""",Louisiana,USA
1,16,Maelyn Jarmon,26,"""Fields of Gold""",Texas,USA
2,16,Karen Galera,19,"""Mi Corazoncito""",Texas,USA
3,16,Trey Rose,27,"""Wake Me Up""",Oklahoma,USA
4,16,Kim Cherry,30,"""No Scrubs""",Florida,USA
5,16,AJ Ryan,30,"""Love Runs Out""",New York,USA
6,16,Rizzi Myers,29,"""Breathin""",Tennessee,USA
7,16,Lisa Ramey,33,"""Sex on Fire""",New York,USA
8,16,Jimmy Mowery,31,"""Attention""",Pennsylvania,USA
9,16,LiLi Joy,15,"""Cool""",California,USA
10,16,Nathan & Chesi,27,"""Waymore's Blues""",Kentucky,USA
11,16,Matthew Johnson,26,"""I Smile""",Florida,USA
12,16,Domenic Haynes,18,"""River""",Florida,USA
13,16,Savannah Brister,17,"""Don't You Worry 'Bout a Thing""",Tennessee,USA
14,16,The Bundys,28,"""Closer to Fine""",Ohio,USA
15,16,Klea Olson,20,"""No Roots""",Utah,USA
16,16,Hannah Kay,18,"""Coal Miner's Daughter""",Texas,USA
17,16,Julian King,25,"""All Time Low""",Pennsylvania,USA
18,16,Jacob Maxwell,20,"""Delicate""",Idaho,USA
19,16,Karly Moreno,23,"""Starving""",California,USA
20,16,Luna Searles,37,"""Nutbush City Limits""",Georgia,USA
21,16,Carter Lloyd Horne,19,"""Drinkin' Problem""",Georgia,USA
22,16,Talon Cardon,18,"""Say You Won't Let Go""",Utah,USA
23,16,Patrick McAloon,40,"""Runaway Train""",Rhode Island,USA
24,16,Ruby McAloon,16,"""Back to You""",Rhode Island,USA
25,16,Alena D’Amico,27,"""In My Blood""",Michigan,USA
26,16,Kanard Thomas,28,"""Riding With the King""",Florida,USA
27,16,Dexter Roberts,27,"""Like a Cowboy""",Alabama,USA
28,16,Jej Vinson,22,"""Passionfruit""",Philippines,RoW
29,16,Betsy Ade,40,"""Hunger""",Wisconsin,USA

In [89]:
st123.reset_index(inplace=True)

In [90]:
st123["Season_id"] = st123.groupby('Season')["index"].rank(method='first').apply(int)

In [91]:
column_order_2 = ["Season", "Season_id", "Singer", "Age", "Song", "State", "Country"]

In [92]:
st123 = st123[column_order_2]

In [93]:
st123.head()

   Season  Season_id         Singer Age              Song      State Country
0      16          1    Gyth Rigdon  24      "Drift Away"  Louisiana     USA
1      16          2  Maelyn Jarmon  26  "Fields of Gold"      Texas     USA
2      16          3   Karen Galera  19  "Mi Corazoncito"      Texas     USA
3      16          4      Trey Rose  27      "Wake Me Up"   Oklahoma     USA
4      16          5     Kim Cherry  30       "No Scrubs"    Florida     USA

In [94]:
st123["Song_trimmed"] = st123.Song.apply(lambda x: x.strip('"'))

In [95]:
st123["for_the_search"] = 'song wikipedia'

In [96]:
st123["Song_for_the_search"] = st123[["Song_trimmed", "for_the_search"]].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [97]:
st123.head()

,Season,Season_id,Singer,Age,Song,State,Country,Song_trimmed,for_the_search,Song_for_the_search
0,16,1,Gyth Rigdon,24,"""Drift Away""",Louisiana,USA,Drift Away,song wikipedia,Drift Away song wikipedia
1,16,2,Maelyn Jarmon,26,"""Fields of Gold""",Texas,USA,Fields of Gold,song wikipedia,Fields of Gold song wikipedia
2,16,3,Karen Galera,19,"""Mi Corazoncito""",Texas,USA,Mi Corazoncito,song wikipedia,Mi Corazoncito song wikipedia
3,16,4,Trey Rose,27,"""Wake Me Up""",Oklahoma,USA,Wake Me Up,song wikipedia,Wake Me Up song wikipedia
4,16,5,Kim Cherry,30,"""No Scrubs""",Florida,USA,No Scrubs,song wikipedia,No Scrubs song wikipedia

In [271]:

songs_list = [["Song A", "Song B", "Song_C"], ["versace on the floor song simple wikipedia", "park test wikipedia", "rolling in the deep song simple wikipedia"]]

In [272]:
songs_list

[['Song A', 'Song B', 'Song_C'],
 ['versace on the floor song simple wikipedia',
  'park test wikipedia',
  'rolling in the deep song simple wikipedia']]

In [273]:
songs_cols = songs_list[0]
songs_rows = songs_list[0:3]

In [274]:
songs = pd.DataFrame(songs_list, columns=songs_cols).transpose()

In [275]:
songs

             0                                           1
Song A  Song A  versace on the floor song simple wikipedia
Song B  Song B                         park test wikipedia
Song_C  Song_C   rolling in the deep song simple wikipedia

In [276]:
songs_colnames = ["alpha", "beta"]

In [277]:
songs.columns = songs_colnames

In [278]:
songs.head()

         alpha                                        beta
Song A  Song A  versace on the floor song simple wikipedia
Song B  Song B                         park test wikipedia
Song_C  Song_C   rolling in the deep song simple wikipedia

In [279]:
for index, row in songs.iterrows():
    query = row['beta']
    
    for url in search(query, lang="en", num=1, stop=1, pause=1):
        print(url)

https://en.wikipedia.org/wiki/Versace_on_the_Floor
https://en.wikipedia.org/wiki/Park_test
https://simple.wikipedia.org/wiki/Rolling_in_the_Deep

In [292]:
ahora = []
todo = []

In [293]:
for index, row in songs.iterrows():
    query = row['beta']
    
    for url in search(query, lang="en", num=1, stop=1, pause=1):
        html = requests.get(url).content
        soup = BeautifulSoup(html, "lxml")
        if soup.find_all('td',{'class':'category hlist'}):
            antes = soup.find_all('td',{'class':'category hlist'})[0]
            ahora.append(antes)
        else:
            antes = "n"
            ahora.append(antes)
            
    todo = [item for episode in ahora for item in episode]

In [294]:
antes

<td class="category hlist"><div class="hlist hlist-separated"><ul><li><a href="/wiki/Pop_music" title="Pop music">Pop</a></li><li><a href="/wiki/Blues" title="Blues">blues</a></li><li><a href="/wiki/Contemporary_R%26B" title="Contemporary R&amp;B">R&amp;B</a></li></ul></div></td>

In [295]:
todo

[<a href="/wiki/Contemporary_R%26B" title="Contemporary R&amp;B">R&amp;B</a>,
 'n',
 <div class="hlist hlist-separated"><ul><li><a href="/wiki/Pop_music" title="Pop music">Pop</a></li><li><a href="/wiki/Blues" title="Blues">blues</a></li><li><a href="/wiki/Contemporary_R%26B" title="Contemporary R&amp;B">R&amp;B</a></li></ul></div>]

In [296]:
url = "https://en.wikipedia.org/wiki/Live_Like_You_Were_Dying"
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [169]:
cosa = soup.find_all('table',{'class':'infobox vevent haudio'})[0]

In [173]:
tutu = soup.find_all('td',{'class':'category hlist'})

In [174]:
tutu

[<td class="category hlist"><a href="/wiki/Contemporary_R%26B" title="Contemporary R&amp;B">R&amp;B</a></td>,
 <td class="category hlist"><a href="/wiki/Funk" title="Funk">Funk</a></td>]

In [113]:
cosa

<table class="infobox vevent haudio" style="width:22em"><tbody><tr><th class="summary album" colspan="2" style="text-align:center;font-size:125%;font-weight:bold;font-style: italic; background-color: lightsteelblue">Live Like You Were Dying</th></tr><tr><td colspan="2" style="text-align:center"><a class="image" href="/wiki/File:Tim_McGraw_-_Live_Like_You_Were_Dying.jpg"><img alt="Tim McGraw - Live Like You Were Dying.jpg" class="thumbborder" data-file-height="300" data-file-width="300" decoding="async" height="220" src="//upload.wikimedia.org/wikipedia/en/thumb/8/89/Tim_McGraw_-_Live_Like_You_Were_Dying.jpg/220px-Tim_McGraw_-_Live_Like_You_Were_Dying.jpg" srcset="//upload.wikimedia.org/wikipedia/en/8/89/Tim_McGraw_-_Live_Like_You_Were_Dying.jpg 1.5x" width="220"/></a></td></tr><tr><th class="description" colspan="2" style="text-align:center;background-color: lightsteelblue"><a href="/wiki/Album" title="Album">Studio album</a> by <div class="contributor" style="display:inline"><a href="/wiki/Tim_McGraw" title="Tim McGraw">Tim McGraw</a></div></th></tr><tr><th scope="row">Released</th><td class="published">August 24, 2004<span style="display:none"> (<span class="bday dtstart published updated">2004-08-24</span>)</span></td></tr><tr><th scope="row"><a href="/wiki/Music_genre" title="Music genre">Genre</a></th><td class="category hlist"><a href="/wiki/Country_music" title="Country music">Country</a></td></tr><tr><th scope="row">Length</th><td><span class="duration"><span class="min">64</span>:<span class="s">00</span></span></td></tr><tr><th scope="row"><a href="/wiki/Record_label" title="Record label">Label</a></th><td class="hlist"><a href="/wiki/Curb_Records" title="Curb Records">Curb</a></td></tr><tr><th scope="row"><a href="/wiki/Record_producer" title="Record producer">Producer</a></th><td class="hlist"><div class="hlist hlist-separated">
<ul><li><a href="/wiki/Byron_Gallimore" title="Byron Gallimore">Byron Gallimore</a></li>
<li>Tim McGraw</li>
<li>Darran Smith</li></ul>
</div></td></tr><tr><th class="description" colspan="2" style="text-align:center;background-color: lightsteelblue"><a href="/wiki/Tim_McGraw" title="Tim McGraw">Tim McGraw</a> chronology</th></tr><tr><td colspan="2" style="text-align:center">
<table style="background: transparent; width: 100%; min-width: 100%; border-collapse: collapse">
<tbody><tr style="line-height: 1.4em;">
<td style="width: 33%; text-align: center; vertical-align: top; padding: .2em .1em .2em 0"><i><a href="/wiki/Tim_McGraw_and_the_Dancehall_Doctors" title="Tim McGraw and the Dancehall Doctors">Tim McGraw and the Dancehall Doctors</a></i><br/>(2002)
</td>
<td style="width: 33%; text-align: center; vertical-align: top; padding: .2em .1em"><i><b>Live Like You Were Dying</b></i><br/>(2004)
</td>
<td style="width: 33%; text-align: center; vertical-align: top; padding: .2em 0 .2em .1em"><i><a href="/wiki/Reflected:_Greatest_Hits_Vol._2" title="Reflected: Greatest Hits Vol. 2">Reflected: Greatest Hits Vol. 2</a></i><br/>(2006)
</td></tr></tbody></table></td></tr><tr><td colspan="2" style="text-align:center"></td></tr><tr><th colspan="2" style="text-align:center;background: lightsteelblue"><a href="/wiki/Single_(music)" title="Single (music)">Singles</a> from <i>Live Like You Were Dying</i></th></tr><tr><td colspan="2" style="text-align:center"><div style="text-align:left">
<ol><li><span class="item"><span class="fn">"<a href="/wiki/Live_Like_You_Were_Dying_(song)" title="Live Like You Were Dying (song)">Live Like You Were Dying</a>"</span><br/>Released: June 7, 2004</span></li>
<li><span class="item"><span class="fn">"<a href="/wiki/Back_When" title="Back When">Back When</a>"</span><br/>Released: August 30, 2004</span></li>
<li><span class="item"><span class="fn">"<a href="/wiki/Drugs_or_Jesus" title="Drugs or Jesus">Drugs or Jesus</a>"</span><br/>Released: January 17, 2005</span></li>
<li><span class="item"><span class="fn">"<a href="/wiki/Do_You_Want_Fries_with_That" title="Do You Want Fries with That">Do You Want Fries with That</a>"</span><br/>Released: May 23, 2005</span></li>
<li><span class="item"><span class="fn">"<a href="/wiki/My_Old_Friend" title="My Old Friend">My Old Friend</a>"</span><br/>Released: September 20, 2005</span></li></ol>
</div></td></tr><tr style="display:none"><td colspan="2">
</td></tr></tbody></table>

In [ ]:
cosa_row = cosa.find_all('tr')

In [ ]:
cosa_row

In [ ]:
vamos = [row.text for row in cosa_row]

In [ ]:
vamos

In [ ]:
cosa_row

In [ ]:
cosa.text

In [ ]:
cosota = cosa.text
lookup = 'Genre'
res = cosota.partition(lookup)[2][:16]

In [ ]:
res

In [ ]:
url = "https://en.wikipedia.org/wiki/The_Voice_(American_season_14)"
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [ ]:
header = soup.find_all('span',{'class':'mw-headline', 'id':True})['id']

In [ ]:
header

In [ ]:
len(soup.find_all('h3'))

In [ ]:
heds = soup.find_all('h3')

In [ ]:
testeo = [row.text for row in heds]

In [ ]:
type(testeo)

In [ ]:
testeo = [row.text for row in soup.find_all('h3')]

In [ ]:
testeo

In [ ]:
sum(map(lambda x: "Episode" in x, testeo))